@{
    ViewBag.Title = "Home Page";
}

<div class="row pt-3"><h4 class="boldFont fontFam pinkUnderline ml-3">Featured Games:</h4></div>

<div class="jumbotron">
    <div class="" id="gameCarousel">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="m-1 img-fluid" />
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/kvbprpoprnvjw6qjmei4.jpg" class="m-1 img-fluid" />
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1x6i.jpg" class="m-1 img-fluid" />
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1yqu.jpg" class="m-1 img-fluid" />
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1yrz.jpg" class="m-1 img-fluid" />
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1ysn.jpg" class="m-1 img-fluid" />
    </div>
</div>

<div class="line"></div>


<div class="row rowSpacing"><h4 class="boldFont fontFam pinkUnderline ml-3">Top Rated:</h4></div>

<!--Should be 6 in here -->
<div class="row">
    <div class="col-md-4 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h3 class="fontFam boldFont">Pokemon</h3>
    </div>
    <div class="col-md-4 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h3 class="fontFam boldFont">Pokemon</h3>
    </div>
    <div class="col-md-4 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid" />
        <h3 class="fontFam boldFont">Pokemon</h3>
    </div>
    <div class="col-md-4 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h3 class="fontFam boldFont">Pokemon</h3>
    </div>
    <div class="col-md-4 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h3 class="fontFam boldFont">Pokemon</h3>
    </div>
    <div class="col-md-4 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h3 class="fontFam boldFont">Pokemon</h3>
    </div>
</div>

<div class="line"></div>

<div class="row rowSpacing"><h4 class="boldFont fontFam pinkUnderline ml-3">Discover:</h4></div>

<!--Should be 8 in here -->
<div class="row">
    <div class="col-md-3 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid w-75" />
        <h4 class="fontFam boldFont">Pokemon</h4>
    </div>
    <div class="col-md-3 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h4 class="fontFam boldFont">Pokemon</h4>
    </div>
    <div class="col-md-3 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid" />
        <h4 class="fontFam boldFont">Pokemon</h4>
    </div>
    <div class="col-md-3 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h4 class="fontFam boldFont">Pokemon</h4>
    </div>
    <div class="col-md-3 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h4 class="fontFam boldFont">Pokemon</h4>
    </div>
    <div class="col-md-3 text-center">
        <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1zht.jpg" class="img-fluid " />
        <h4 class="fontFam boldFont">Pokemon</h4>
    </div>
</div>



