@model IEnumerable<GameReview.Models.Game>

@{
    ViewBag.Title = "GenreSearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div id="searchTopImg" class="row overlay"></div>

        <div id="searchContent" class="row">
            <div class="col">
                <h2 class="text-white mt-3">
                    <span id="searchTitleThe">The</span> <span id="searchTitleGame">Games</span>
                </h2>

                <div class="game-feed">
                    <div class="divider mt-2 mb-2"></div>
                </div>


            </div>
        </div>
    </div>
</div>

<!--https://localhost:44337/Game/Results?searchFilter=10&searchType=genre&pageNumber=1-->

<input type="hidden" id="ajaxUrl" value="@Url.Action("Results", "Game", new {searchFilter = Request.QueryString["searchFilter"], searchType = Request.QueryString["searchType"], pageNumber = 0})" />

@section scripts
{
    <script src="~/Scripts/Controller/Game/SearchResultsScript.js"></script>
}