body {
    padding-bottom: 20px;
    background: #1f2833;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #1F2833;
    border-top: none;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #0B0C10;
    color: white;
    padding: 0
}

.logo {
    height: 80px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.fontStyle {
    font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

.boldFonts {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

#gameInfoRow {
    background-image: url("Images/parrallax.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-info-row-blur {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#gameReleaseYear{
    color: lightgray;
    text-decoration: none;
}

#ratingBadge {
    background: #45A29E;
    color: lightcyan;
}

.genreBtn {
    background: #45a29e;
    font-size: 8pt;
}

ul {
    padding-left: 80px;
}

.line {
    width: 100%;
    height: 1px;
    margin: auto;
    background: rgb(102,252,241);
    background: radial-gradient(circle, rgba(102,252,241,0.9) 12%, rgba(102,252,241,0.6) 41%, rgba(102,252,241,0.4) 76%);
    margin-bottom: 15px;
    margin-top: 15px;
}

.shadow {
    box-shadow: inset 0 4px 40px 0 rgba(0, 0, 0, .2);
}


.summaryText a {
    font-weight: bold;
    color: #66fcf1;
}

.w-90 {
    width: 90%;
}

.darkBlue {
    background: #45A29E;
    
}

.navy {
    background: #1f2833;
}

.reviewCard {
    border-color: #45a29e;
}

#myChart {
    width: 80%;
}

#contentLine {
    display: none;
}

#nav {
    background: #45a29e;
}

#platforms {
    border-radius: 10px;
}

#ageRating {
    max-width: 60px;
    max-height: 90px;
}

.genreSearchBtn {
    background-size: cover;
    font-size: calc(1rem + 1vw);
    height: 8rem;
    width: 8rem;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
}

.genreSearchBtn:hover {
    text-decoration: underline;
}

#homeCarousel {
    background: transparent;
}



.slick-slider {
    margin: 0 -15px;
    margin-bottom: 0px;
}

.slick-slide {
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

.slick-center {
    transform: scale(1.25);
    transition: transform .75s;
}

.slick-list {
    padding: 45px 60px !important;
    margin-left: 30px !important;
}

.navBtn {
    font-size: 12pt;
    text-transform: capitalize;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: .1rem;
    font-weight: 500;
}

.navBtn:hover {
    text-decoration: underline;
}

.loginBtns a{
    color: white;
    font-weight: 600;
    border: thin white solid;
    border-radius: 5px;
}

    .loginBtns a:hover {
        text-decoration: underline;
    }

.gen-button {
    background: #45a29e;
    border: none;
    color: white;
    font-size: 12pt;
    letter-spacing: .15rem;
    text-transform: uppercase;
}
 
.gen-button:hover {
    background: #66fcf1;
}
.big-button {
    font-size: 20pt;
    font-weight: 200;
}


#topHomeImg {
    background-image: url('Images/homeWallpaper.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.overlay {
    filter: opacity(100%);
    filter: grayscale(80%);
}

#gameHomeContent {
    background: rgb(31,40,51);
    background: linear-gradient(180deg, rgba(31,40,51,0.1741071428571429) 0%, rgba(31,40,51,0.8743872549019608) 100%);
    position: relative;
}

.game-thumbs {
    border-radius: 5px;
}

h1 {
    font-weight: 700;
    letter-spacing: .08rem;
    line-height: 4rem;
}

.h1 {
    font-weight: 700;
    letter-spacing: .08rem;
    line-height: 4rem;
}

h2 {
    letter-spacing: .1rem;
    font-weight: 500;
    text-align: left;
}

h5 {
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 0.07rem;
}

#signUpBackgroundImg {
    background-image: url('Images/signupWallpaper.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#signUpRowContent {
    background: rgb(31,40,51);
    background: radial-gradient(circle, rgba(31,40,51,0.006039915966386533) 0%, rgba(31,40,51,1) 100%);
    position: relative;
}

#searchBarNav {
    background: #0b0c10;
    border: none;
    color: white;
}

#searchTitleGame {
    font-weight: 700;
    letter-spacing: .25rem;
}

#searchTopImg {
    background-image: url('Images/searchWallpaper.jpg');
    height: 100%;
    max-height: 30rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#searchContent {
    background: rgb(31,40,51);
    background: radial-gradient(circle, rgba(31,40,51,0.4906337535014006) 0%, rgba(31,40,51,1) 100%);
    position: relative;
}

#loader {
    display: none;
}

#finisher {
    display: none;
}

.divider {
    height: 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: gray;
}

.search-result-title {
    font-size: 20pt;
    font-weight: bold;
    color: white;
    letter-spacing: .15rem;
}

.search-image {
    min-width: 64px;
    min-height: 84px;
}


.search-platform-images {
    height: 2rem;
    width: 2rem;
}

#gameDetails {
    width: 60%;
}



/*Desktop*/
    @media all and (min-width: 960px) {
        h1 {
            font-size: 60px;
        }

        .genreSearchBtn {
            height: 14rem;
            width: 14rem;
        }

    }

    /*Desktop and Tablet*/
    @media all and (max-width: 959px) and (min-width: 600px) {
        h1 {
            font-size: 9vw;
        }
    }

    /*Phones and small tablet*/
    @media all and (max-width: 599px) and (min-width: 50px) {
        h1 {
            font-size: 9vw;
            line-height: 2rem;
        }

        h5 {
            text-align: center;
        }
        #gamePics {
            width: 40%;
        }

        #gameTextRow {

        }

    }

    /*Text Alignment for Tablet Up*/
    @media (min-width: 768px) {
        h5 {
            text-align: left;
        }
    }

    /**Desktops and up*/
    @media (min-width: 992px) {
        #desktopBlurImage {
            
            position: relative;
        }

        #parrallaxImage {
            height: 448px;
            background: url("Images/parrallax.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(1px);
            -webkit-filter: blur(1px);
            position: absolute;
        }

        #gameInfoRow {
            margin-top: 25%;
            background-image: url("");
            z-index: 90;
        }

        #titleCol {
            margin-top: 10%;
        }

        .homeTextBorder {
            border: medium #45a29e solid;
            border-radius: 5px;
        }

        .sign-up-button {
            font-size: 18pt;
            margin-top: 0;
        }

        #topRatedGamesButton {
            margin: 0;
        }
    }
