body {
    padding-bottom: 20px;
    background: #1f2833;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    background: #1F2833;
    border-top: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #0B0C10;
    color: white;
    padding: 0
}

.logo {
    height: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.fontStyle {
    font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

.boldFonts {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

#gameInfoRow {
    background-image: url("Images/parrallax.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gameInfoRowBlur {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#gameReleaseYear{
    color: lightgray;
    text-decoration: none;
}

#ratingBadge {
    background: #45A29E;
    color: lightcyan;
}

.genreBtn {
    background: #45a29e;
    font-size: 8pt;
}

ul {
    padding-left: 80px;
}

.line {
    width: 95%;
    height: 2px;
    background: #66FCF1;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 50%;
}

.summaryText a {
    font-weight: bold;
    color: #66fcf1;
}

.w-90 {
    width: 90%;
}

.darkBlue {
    background: #45A29E;
    
}

.navy {
    background: #1f2833;
}

.reviewCard {
    border-color: #45a29e;
}



    @media all and (min-width: 960px) {
        h1 {
            font-size: 50px;
        }
    }

    @media all and (max-width: 959px) and (min-width: 600px) {
        h1 {
            font-size: 9vw;
        }
    }

    @media all and (max-width: 599px) and (min-width: 50px) {
        h1 {
            font-size: 9vw;
        }
    }
    /**Desktops and up*/
    @media (min-width: 992px) {
        #ageRatingCompaniesMobile {
            display: none;
        }
    }