body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #084B83;
    color: white;
    padding: 0
}

.logo {
    height: 60px;
}


.loginBtns {
    color: black;
    padding: 13px;
    font-family: Roboto;
    font-size: 16px;
}

.loginBtns:active {
    color: white;
}

.loginBtns:link {
    color: white;
}

.loginBtns:visited {
    color: white;
}

#genreBtn {
    font-family: Roboto;
    font-size: 16px;
    margin-right: 15px;
    color: white;
    text-align: center;
}

#genreBtn:active {
    color: white;
}

#genreBtn:link {
    color: white;
}

#genreBtn:visited {
    color: white;
}

#searchBarNav {
    width: 400px;
}

.contentDivider {
    height: 400px;
    background: #42BFDD;
}

#gameInfoRow {
    margin-top: -150px;
    width: 100%;
}

#ageRating {
    text-align: center;
}

.gameTitle {
    text-align: left;
}

#mobileGameTitle {
    display: none;
}

#involvedCompaniesTitle {
    margin-top: 7px;
}

#involvedCompanies {
    margin-bottom: 20px;
}

.bottomBorderGrey {
    border-bottom: thin solid #DCDCDC;
}

.bottomBorderGrey span {
    font-weight: bold;
}
.line {
    height: 3px;
    width: 100%;
    background: #42bfdd;
}

.fontFam {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.boldFont {
    font-weight: bold;
}

.pinkUnderline {
    text-decoration: underline;
    text-decoration-color: #FF66B3;
}

.circle {
    border-radius: 50%;
}

#ratingCircle {
   height: 150px;
    width: 150px;
    margin: auto;
    background: white;
    margin-bottom: 10px;
}

.rowSpacing {
    margin-top: 40px;
}

.reviewBackground {
    background: #BBE6E4;
    padding: 5px;
}

#gameCoverImg {
    width: 100%;
    height: 100%;
}



/**For desktop and up*/
@media (min-width: 992px) {

    #titleRow {
        padding-top: 30px;
        margin-bottom: 80px;
    }

    .line {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .notDesktop {
        display: none;
    }
    
    }

/**For tablets and below*/
@media (max-width: 768px) {
    .contentDivider {
         display: none;
    }

    #gameInfoRow {
        margin-top: 50px;
        margin-left: 0;
    }

    #ageRating {
        font-size: 16px;
    }


    #desktopGameTitle {
        display: none;
    }

    #mobileGameTitle {
        display: block;
        text-decoration: underline;
        text-decoration-color: #FF66B3;
    }

    #ratingCircle {
        background: #42BFDD;
        color: white;
    }

    .rowSpacing {
        margin-top: 20px;
    }

}